<div *ngIf="profile" class="cards" fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="center">
    <mat-card class="example-card"  fxFlex="0 1 calc(33.3% - 32px)">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{profile.name}}</mat-card-title>
            <mat-card-subtitle>{{profile.age}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

        <mat-card-content>
            <p *ngIf="profile.description">Description: {{profile.description}} </p>
        </mat-card-content>
        <mat-card-content>
            <p *ngIf="profile.dbID">dbID: {{profile.dbID}} </p>
        </mat-card-content>
    </mat-card>
    
    <mat-spinner *ngIf="!profile"></mat-spinner>
</div>
<div class="addPet" fxLayoutAlign="center">
    <button mat-raised-button color="primary" (click)="onEditHandler()">Edit profile</button>
</div>