 <section class="create-pet" fxLayout fxLayoutAlign="center">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
        <form fxLayout="column" 
            fxLayoutAlign="flex-start" 
            #f="ngForm" 
            fxLayoutGap="10px"
            (ngSubmit)="onCreatePetProfile(f)">
            <mat-form-field>
                <mat-select placeholder="Choose Pet Type"
                    ngModel 
                    name="type" 
                    required>
                    <mat-option *ngFor="let type of petTypes" [value]="type">
                        {{type}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
                <mat-form-field>
                    <input matInput
                        type="text"
                        matInput 
                        placeholder="Pet`s name"
                        ngModel 
                        name="name"
                        required
                        #petName="ngModel">
                </mat-form-field>
                <mat-form-field hintLabel="Should be 6 chars">
                    <input matInput 
                        type="text"
                        mathInput
                        placeholder="passport ID"
                        ngModel
                        name="passportId"
                        minlength="6"
                        maxlength="6"
                        #passportId="ngModel">
                        <mat-hint align="end">{{passportId.value?.length}} / 6</mat-hint>
                        <mat-error>Has to be 6 chars</mat-error>
                </mat-form-field>
                <mat-form-field>    
                    <input 
                        matInput
                        ngModel
                        name="lastVaccinationDate"
                        placeholder="Last vaccinated"
                        [matDatepicker]="picker" >
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="pet-description">
                    <mat-label>Input description</mat-label>
                    <textarea 
                    matInput
                    ngModel
                    name="description"
                    placeholder="Best pet ever..."></textarea>
                  </mat-form-field>
                <button 
                    *ngIf="!isLoading"
                    type="submit" 
                    mat-raised-button 
                    color="primary"
                    [disabled]="f.invalid">Create Pet Profile</button>
               <div fxLayout fxLayoutAlign="center">
                    <mat-spinner *ngIf="isLoading"></mat-spinner>
               </div>
        </form>
</mat-card>
</section>